.boxsup  {

    background: #003087;
    
}

.texsup {


    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.btsearch {

    align-items: center;
    
}

form input, form button {

    font-size: 2.6em;
    border: none;
} 

form button {

    cursor: pointer;
    background-color: #4B39FF;
    border-radius: 0.1em;
    color: whitesmoke;
    border-color: #ffffff;
}

form button:hover {

    background-color: rgba(245, 245, 245, 0.842);
    color: rgb(101, 88, 248);

}

.opcarreira {

    text-align: center;
}

.firstbox {

    text-align: center;
    background: rgb(226, 225, 225);

}

.toplink {

    color:black;
    text-decoration: none;
    
}


a:link {

    color:black;
    text-decoration: none;
}

a:visited {

    color:rgb(0, 0, 0);
}


.textplat {

    display: flex;
    align-items: center;
    background-color: #ffffff;
    justify-content: center;
}

.buttonvsindex button {

    background-color: #003087;
    color: #ffffff;
    text-decoration: none;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-color:#ffffff;
    
}

.buttonvsindex button:hover {

    background-color: #000000;
    cursor: pointer
}


body {

    text-decoration: none;
}

.buttonvsindex i {

    color:white;
    
}

.buttonvsindex a {

    color: white;
}

.cadstop {

    background-color: gray;
    padding-top: 2%;
    padding-bottom: 2% ;
    
    
  
}



.falogin {

    text-align: right;
    margin-right: 20%;
    
    
}

.falogin button {

    cursor: pointer;
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    margin-right: 1%;
    background-color: gray;
    border-color: white;
    
}

.falogin button:hover {

    background-color: black;
}




.falogin a {

    color: white;

}


.textestamos {

    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    
    
}


.toplink a:hover {

    background-color: #578cf0;
    
}






